<html>
<head>
  <title>Home</title>
</head>
</html>

<script>
  window.watsonAssistantChatOptions = {
    integrationID: "1a1e45d7-499b-4fad-a510-2eb2a942c07e", // The ID of this integration.
    region: "jp-tok", // The region your integration is hosted in.
    serviceInstanceID: "440aaee1-fbb4-4c2b-8604-cb5d605fa157", // The ID of your service instance.
    onLoad: function(instance) { instance.render(); }
  };
  setTimeout(function(){
    const t=document.createElement('script');
    t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
    document.head.appendChild(t);
  });
</script>

{% extends 'base.html' %}


{% block head %}
<!-- CSS -->
<link rel="stylesheet" href="{{ url_for('static',filename='css/home.css') }}" />
{% endblock %}


{% block body %}
<div class="logIn">
  
  <div class="container-well container-shadow">
    
    <div class="container nike buttons">
        <a class="btn-hover color-1">SUPPLIER</a>
        <a class="btn-hover color-1">CATEGORY</a>
        <a class="btn-hover color-1">PRODUCT</a>
        <a class="btn-hover color-1">SALE</a>
        <a class="btn-hover color-1" href="aboutus">ABOUT US</a>
        <a class="btn-hover color-1">EXIT</a>
    </div>
  </div>
  <div class="box">
    <h1 class="text-primary" style="text-align: center; font-family: fantasy;">HOME PAGE</h1>
    <!-- {% with messages = get_flashed_messages() %}  
        {% if messages %}  
           {% for message in messages %}  
              <p>{{ message }}</p>  
           {% endfor %}  
        {% endif %}  
    {% endwith %}   -->
    <div class="row1 d-flex justify-content-between">
      <div class="card border-primary mb-4">
        <div class="card-body text-primary">
            <h5 class="card-title text-center">TOTAL EMPLOYEE</h5>
        </div>
      </div>
      <div class="card border-primary mb-4">
        <div class="card-body text-primary">
          <h5 class="card-title text-center">TOTAL SUPPLIER</h5>
        </div>
      </div>
      <div class="card border-primary mb-4">
        <div class="card-body text-primary">
          <h5 class="card-title text-center">TOTAL CATEGORY</h5>
        </div>
      </div>
    </div>
    <div class="row1 d-flex justify-content-around">
      
      <div class="card border-primary mb-4">
        <div class="card-body text-primary">
          <h5 class="card-title text-center" >TOTAL PRODUCT</h5>
        </div>
      </div>
      <div class="card border-primary mb-4">
        <div class="card-body text-primary">
          <h5 class="card-title text-center">TOTAL SALES</h5>
        </div>
      </div>
    </div>
    <!-- <div class="row1 d-flex justify-content-center">
      
    </div>         -->
  </div>      
</div>
{% endblock %}
