body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 550px;
  background: url('../assets/Background.jpeg') no-repeat center center fixed;
  background-color: bisque;
  background-size: cover;
  overflow: hidden;
  font-family: Sans-serif;
  color: white;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 300px;
}
div{
  display:flex;
  align-items:center;
  justify-content:space-between;
  width: 300px;
}