{% extends 'base.html' %}


{% block head %}
<!-- CSS -->
<link rel="stylesheet" href="{{ url_for('static',filename='css/aboutUs.css') }}" />
{% endblock %}


{% block body %}
<div class="outercont">
    <div class="cont">
        <div class="textcont">
            <h2>Inventory Management System</h2>
            <p>Our Inventory Management Software is designed to streamline your processes and increase profits.</p>
        </div>
        <div class="othercont">
            <div class="leftcont">
                <div><i class="fa fa-check" style="font-size:24px;color:green"></i> Min/Max Stock Levels</div>
                <div><i class="fa fa-check" style="font-size:24px;color:green"></i> Multiple Stores</div>
                <div><i class="fa fa-check" style="font-size:24px;color:green"></i> Inventory Valuation</div>
                <div><i class="fa fa-check" style="font-size:24px;color:green"></i> Inventory Rejected/Dead Stock</div>
            </div>
            <div class="rightcont">
                <div><i class="fa fa-check" style="font-size:24px;color:green"></i> Negative Stock Restriction </div>
                <div><i class="fa fa-check" style="font-size:24px;color:green"></i> Barcode Tracking</div>
                <div><i class="fa fa-check" style="font-size:24px;color:green"></i> Auto Stock Adjustment</div>
                <div><i class="fa fa-check" style="font-size:24px;color:green"></i> Physical Stock Reconciliation</div>
            </div>
        </div>
    </div>
    <div class="cont">
        <div class="textcont">
            <h2>Sales & Purchase</h2>
            <p>Manage sales and purchase orders, create invoices, and E-way bills from a single order management system.</p>
        </div>
        <div class="othercont">
            <div class="leftcont">
                <div><i class="fa fa-check" style="font-size:24px;color:green"></i> Order Confirmation</div>
                <div><i class="fa fa-check" style="font-size:24px;color:green"></i> Purchase Order</div>
                <div><i class="fa fa-check" style="font-size:24px;color:green"></i> Inward/GRN Register</div>
                <div><i class="fa fa-check" style="font-size:24px;color:green"></i> E-Way Bill</div>
            </div>
            <div class="rightcont">
                <div><i class="fa fa-check" style="font-size:24px;color:green"></i> Sales Order </div>
                <div><i class="fa fa-check" style="font-size:24px;color:green"></i> GST Invoices</div>
                <div><i class="fa fa-check" style="font-size:24px;color:green"></i> Credit/Debit Note</div>
                <div><i class="fa fa-check" style="font-size:24px;color:green"></i> Service Transactions   </div>
            </div>
        </div>
    </div>
    <div class="cont">
        <div class="textcont">
            <h2>Production</h2>
            <p>Plan and track the production process using our Inventory Management System to increase efficiency by eliminating downtime and cutting down cost.</p>
        </div>
        <div class="othercont">
            <div class="leftcont">
                <div><i class="fa fa-check" style="font-size:24px;color:green"></i> Multi-Level Bill of Materials (BOM)</div>
                <div><i class="fa fa-check" style="font-size:24px;color:green"></i> BOM Costing</div>
                <div><i class="fa fa-check" style="font-size:24px;color:green"></i> Work Order</div>
                <div><i class="fa fa-check" style="font-size:24px;color:green"></i> Production Order </div>
            </div>
            <div class="rightcont">
                <div><i class="fa fa-check" style="font-size:24px;color:green"></i> Outsourcing / Sub-Contract</div>
                <div><i class="fa fa-check" style="font-size:24px;color:green"></i> Finished Goods Testing</div>
                <div><i class="fa fa-check" style="font-size:24px;color:green"></i> Line Rejection Tracking</div>
                <div><i class="fa fa-check" style="font-size:24px;color:green"></i> Process Routing </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
