* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lobster', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    
  }
  .buttons {
    /* margin: 10%; */
    text-align: center;
    /* font-size: large; */
    font-size: 15px;
}

.btn-hover {
    /* width: 200px; */
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    /* margin: 20px; */
    /* height: 55px; */
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-1 {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
.btn-hover.color-2 {
    background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}
.btn-hover.color-3 {
    background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}
.btn-hover.color-4 {
    background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
    box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}
.btn-hover.color-5 {
    background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}
.btn-hover.color-6 {
    background-image: linear-gradient(to right, #009245, #FCEE21, #00A8C5, #D9E021);
    box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
}
.btn-hover.color-7 {
    background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}
.btn-hover.color-8 {
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}
.btn-hover.color-9 {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}
.btn-hover.color-10 {
    background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a , #FBB03B);
    box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}
.btn-hover.color-11 {
       background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);  
       box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}


.contenedor {
  height: 100%;
  padding: 5% 0;
}

h1 {
  color: #FCFBFA;
}

.container_foto {
  background-color: rgba(57, 62, 93, 0.7);
  padding: 0;
  overflow: hidden;
  max-width: 350px;
  margin: 5px;
}

.container_foto article {
  padding: 10%;
  position: absolute;
  bottom: 0;
  z-index: 1;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.container_foto h2 {
  color: #fff;
  font-weight: 800;
  font-size: 25px;
  border-bottom: #fff solid 1px;
}

.container_foto h4 {
  font-weight: 300;
  color: #fff;
  font-size: 16px;
}

.container_foto img {
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.4;
  -webkit-transition: all 4s ease;
  -moz-transition: all 4s ease;
  -o-transition: all 4s ease;
  -ms-transition: all 4s ease;
  transition: all 4s ease;
}

.ver_mas {
  background-color: #FEB66C;
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  z-index: 1;
  opacity: 0;
  transform: translate(0px, 70px);
  -webkit-transform: translate(0px, 70px);
  -moz-transform: translate(0px, 70px);
  -o-transform: translate(0px, 70px);
  -ms-transform: translate(0px, 70px);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.ver_mas span {
  font-size: 40px;
  color: #fff;
  position: relative;
  margin: 0 auto;
  width: 100%;
  top: 13px;
}


/*hovers*/

.container_foto:hover {
  cursor: pointer;
}

.container_foto:hover img {
  opacity: 0.1;
  transform: scale(1.5);
}

.container_foto:hover article {
  transform: translate(2px, -69px);
  -webkit-transform: translate(2px, -69px);
  -moz-transform: translate(2px, -69px);
  -o-transform: translate(2px, -69px);
  -ms-transform: translate(2px, -69px);
}

.container_foto:hover .ver_mas {
  transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  opacity: 1;
}
  :root{
    --primary: #34ACE0;
    --primary-shadow: rgba(52, 172, 224 , 0.25);
  }
  .row1{
    width: 75%;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  body {
    background-color: var(--primary-shadow);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("../assets/b2.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  
  img{
    width: 100%;
    height: 100%;
  }
  
  .logIn {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  min-height: 95vh;
  margin-top: min(20px, 25px);
  margin-bottom: min(20px, 25px);
  }
  
  .flex-container {
  display: flex;
  flex-direction: row;
  }
  
  .box{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;

  }


  /* .card
  {
    width: 200px;
    height:200px;
    background-color: #8186a3;
  } */

  .card {
    width: 300px;
    height:300px;
    background-color:#C2F7EB;
    transition: transform 0.2s ease;
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
    border-radius: 0;
    border: 0;
    margin-bottom: 1.5em;
    border-radius: 2rem;
    font-style: italic;

    
  }
  .card:hover {
    transform: scale(1.1);
  }
  /* .container-well {
  display: flex;
  justify-content: center; */
  /* align-items: center;
  background-color: white;
  height: 550px;
  width: 900px;
  border-radius: 0 35px 0 35px;
  } */
  
  button{
    height: 100px;
  }
  a {
    padding-top: 40px;
    padding-bottom: 40px;
    text-decoration: none;
  }
  .nike
  {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* justify-content: flex-start; */
    width: 300px;
    height: 95vh;
  }
  /* .container-shadow {
  box-shadow: 0 0 100px 0 var(--primary);
  } */
  
  .left-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  }

  .btn-white {
    color: var(--primary);
    box-shadow: 0 0 20px 0 var(--primary-shadow);
    transition: 1s;
  }
  
  .btn-blue {
    background-color: var(--primary);
    color: white;
    box-shadow: 0 0 20px 0 var(--primary-shadow);
    transition: 1s;
  }
  
  @media (max-width: 1199px) {
  .container-well {
    width: 700px;
    height: 600px;
  }
  }
  
  @media (max-width: 767px) {
  .container-well {
    border-radius: 20px;
  }
  .image {
    display: none;
  }
  .left-content {
    width: 100%;
  }
  .form {
    width: 100%
  }
  .container-well {
    width: 90%;
    height: 90%;
  }
  .flex-container {
    flex-direction: column;
  }
  }
  
  @media (max-width: 330px){
  .form div {
    flex-direction: column !important;
  }
  }
  