{% extends 'base.html' %}


{% block head %}
<!-- CSS -->
<link rel="stylesheet" href="{{ url_for('static',filename='css/home.css') }}" />
{% endblock %}


{% block body %}
<div class="logIn">
  
  <div class="container-well container-shadow">
    
    <div class="container nike buttons">
        <a class="btn-hover color-1">SUPPLIER</a>
        <a class="btn-hover color-1">CATEGORY</a>
        <a class="btn-hover color-1">PRODUCT</a>
        <a class="btn-hover color-1">SALE</a>
        <a class="btn-hover color-1" href="aboutus">ABOUT US</a>
        <a class="btn-hover color-1">EXIT</a>
    </div>
  </div>
  <div class="box">
    <h1 class="text-primary" style="text-align: center; font-family: fantasy;">HOME PAGE</h1>
    <div class="row1 d-flex justify-content-between">
      <div class="card border-primary mb-4">
        <div class="card-body text-primary">
            <h5 class="card-title text-center">TOTAL EMPLOYEE</h5>
        </div>
      </div>
      <div class="card border-primary mb-4">
        <div class="card-body text-primary">
          <h5 class="card-title text-center">TOTAL SUPPLIER</h5>
        </div>
      </div>
      <div class="card border-primary mb-4">
        <div class="card-body text-primary">
          <h5 class="card-title text-center">TOTAL CATEGORY</h5>
        </div>
      </div>
    </div>
    <div class="row1 d-flex justify-content-around">
      
      <div class="card border-primary mb-4">
        <div class="card-body text-primary">
          <h5 class="card-title text-center" >TOTAL PRODUCT</h5>
        </div>
      </div>
      <div class="card border-primary mb-4">
        <div class="card-body text-primary">
          <h5 class="card-title text-center">TOTAL SALES</h5>
        </div>
      </div>
    </div>
    <!-- <div class="row1 d-flex justify-content-center">
      
    </div>         -->
  </div>      
</div>
{% endblock %}
