{% extends 'base.html' %}


{% block head %}
<!-- CSS -->
<link rel="stylesheet" href="{{ url_for('static',filename='css/logIn.css') }}" />
{% endblock %}


{% block body %}
<div class="logIn">
  <div class="container-well container-shadow">
    <div class="container  flex-container">
      <div class="left-content d-flex flex-column">
        <div class="image">
          <img src="../static/assets/login1.png" alt="login-image">
        </div>
      </div>
      <div class="form mt-4 mb-4">
        <form action="./home">
          <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" class="form-control">
          </div>
          <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" class="form-control">
          </div>
          <button type="submit" class="btn btn-blue mt-2">Log In</button>
        </form>
        <br>
        <div class="d-flex flex-row">
          Don't have an account ?
          <div>
            <a class="ms-1" href="./">Sign Up</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
