body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 550px;
  
  background-color: coral;
  background-size: cover;
  overflow: hidden;
  font-family: fantasy;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 300px;
}
div{
  display:flex;
  align-items:center;
  justify-content:space-between;
  width: 300px;
}